/* CSS files add styling rules to your content */

body {
  font-family: "Benton Sans", "Helvetica Neue", helvetica, arial, sans-serif;
  margin: 2em;
  background-image: linear-gradient(100deg, #8256D6, #5943C8, #3C39BC);
  color: #dbd8e3;
}
html, body {
  height: 100%;
}

h1 {
  font-style: italic;
  color: #373fff;
}

body {

  margin: 0;
  display: flex;
  flex-wrap: wrap;
  /* Making this fullscreen smhow?. */
  justify-content: left;
  align-items: top;
}

#floating-button-area{
  position: absolute;
  left: 40px;
  top: 60px;
  width: 100px;
  height: 200px;
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  flex-direction: column;
}

#key-selection-area {
  position:absolute;
  left:50px;
  bottom: 50px;
  width:1600px;
  height:50px;
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  padding: 50px 0;
}

#sketch-canvas {
   display: block;
   position: absolute;
   top:0;
   right:0;
   bottom:0;
   left:100px;
}

  /* trying some code for brush buttons */
.toolbox__item {
    position: relative;
    height: 42px;
    width: 42px;
    border-radius: 40px;
    text-align: center;
    line-height: 42px;
    background: #9566DF;
    margin-bottom: 42px;
    cursor: pointer;
    transition: all .25s ease;
}


.toolbox__item:hover {
      box-shadow: 4px 10px 14px 0px rgba(0,0,0,0.15);
      }


.toolbox__item--selected {
    background: #FF90C3;
    box-shadow: 4px 10px 14px 0px rgba(168,137,26,0.4);
}





